/web/bundles/
/var/cache/
/var/logs/
/var/sessions/
/var/bootstrap.php.cache
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep
/vendor/
/env/.vagrant/
.idea/
src/IZiviFrontendBundle/Resources/public/node_modules
npm-debug.log