{
  "parser": "babel-eslint",
  "plugins": [
    "meteor",
    "import",
    "graphql"
  ],
  "extends": [
    "airbnb-base",
    "plugin:meteor/recommended"
  ],
  "settings": {
    "import/resolver": {
      "meteor": {
        "extensions": [
          ".jsx",
          ".js"
        ]
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": [ "off", "never" ],
    "no-underscore-dangle": [ "error", { "allow": [ "_id" ] } ]
  }
}
