parameters:
    database_driver:   pdo_mysql
    database_host:     mysql
    database_port:     ~
    database_name:     izivi
    database_user:     izivi
    database_password: izivi
    # if using pdo_sqlite as your database driver
    # database_path:     %kernel.root_dir%/izivi.db
    database_path:     ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    sender_mail:         im@mail.to

    izivi_release_mode: false
