{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-underscore-dangle": [ "error", { "allow": [ "_id" ] } ],
    "react/prop-types": [ 0 ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
